.App {
  padding: 0;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #f398b9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Chewy', cursive;
}

.App-link {
  color: #61dafb;
}

.insta-feed{
  margin: 20px;
  max-width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: stretch;
  align-items: stretch;
}

.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.gallery-item:hover .image img{
  transform:scale(1.5)
}


h1 {
  font-size: 100px;
}


@media screen and (max-width: 500px){
  h1 {
    font-size: 50px;
    max-width: 100vw;
  }

  .insta-feed{
    grid-template-columns: repeat(1, 1fr);
    max-width: 100vw;
  }
}

/* display: grid;
grid-template-columns: repeat(3, 1fr);
grid-auto-rows: 300px;
grid-gap: 10px;
grid-auto-flow: dense;
max-width: 80vw; */
